html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

 body {
  background-image: url('/Linktree/images/background.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

#typing-effect {
  font-size: 24px;
  margin-top: 20px;
}

html, body {
  height: 100%;
  margin: 0;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  height: 100%;
}

.avatar {
  max-width: 90px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 70%;
  overflow: hidden;
  border: 2px solid transparent;

  /* Animation */
  animation: rotateColors 5s linear infinite;
}

/* Define the animation keyframes */
@keyframes rotateColors {
  0% {
    border-color: #8dcafc;
  }
  25% {
    border-color: #ffcc00;
  }
  50% {
    border-color: #ff6699;
  }
  75% {
    border-color: #00ffcc;
  }
  100% {
    border-color: #ff1b3a;
  }
}

.column {
  text-align: center;
  margin-top: 10%;
}

h1 {
  margin-top: 20px;
  color: #fff;
}

p {
  color: #aaa;
  font-size: 16px;
}

.button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #4CAF50;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #45a049;
}